.logo {
    width: 30px;
    margin-right: 0.5rem;
    vertical-align: middle;
    display: inline-block;  
 }
 .barranav {
   background-color: rgb(246, 181, 181);
}
 .barranav a {
    font-family: 'Courgette', cursive;
 }
