* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/* seccion barra de navegacion  */

.barranav {
   padding: 2rem 1rem 2rem 1rem;
   background-color: none;
   color: whitesmoke;
   font-family: 'Julius Sans One', sans-serif;
}

.barranav a {
   font-size: 30px;
   color: whitesmoke;
   text-decoration: none;
}

.barranav a:hover {
   color: rgb(146, 210, 226);
}
.barranav a.active {
   background-color: none;
   color: white;
 }

 .burger{
    font-size: 30px;
 }

.barranav .burger {
   display: none;
}

@media screen and (max-width: 1050px) {
   .barranav a:not(:first-child) {display: none;}
   .barranav a.burger {
     float: left;
     display: block;
   }
 }

.buyer-icon {
   font-size: 30px;
   color: whitesmoke;
   text-decoration: none;
}

.buyer-icon:hover {
   color: rgb(146, 210, 226);
}

.barranav-open{
   background-color: rgba(245, 245, 245, 0.514);
   color: black;
   font-family: 'Julius Sans One', sans-serif;
   font-size: 35px;
}

.barranav-open a{
   text-decoration: none;
}
.barranav-open a:hover{
   color: rgb(146, 210, 226);
   font-size: 35px;
}
.nav-links{
   font-size: 30px;
}
.nav-links a:hover{
   background-color: cadetblue;
}

.buyer-icon-open{
   font-size: 30px;
   color: rgb(201, 192, 192);
   text-decoration: none;
}

/* seccion IMAGEN PPAL */

.ppal-image {
   background-image: url(./cocoimag/alfajores\ clasicos.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   width: 100%;
   height: 1000px;
   margin-bottom: 3rem;
}

@media only screen and (max-width: 1050px) {
   .ppal-image {
      height: 600px;
   }
}

.efecto-artesanal h1 {
   font-size: 90px;
   font-family: 'Julius Sans One', sans-serif;
   color: white;
}

.efecto-artesanal p {
   font-size: 40px;
   font-family: 'Julius Sans One', sans-serif;
   color: white;
}

.efecto-artesanal {
   animation: efecto-games 2.2s cubic-bezier(0.77, 0, 0.7, 1);
}

@keyframes efecto-games {
   0% {
      transform: translateY(450px);
   }
}

@media only screen and (max-width: 1050px) {
   .efecto-artesanal h1 {
      font-size: 40px;
   }
   .efecto-artesanal p {
      font-size: 15px;
   }
}

.boton-artesanal {
   background: none;
   padding: 10px;
   color: whitesmoke;
   border-color: whitesmoke;
   border-radius: 0.25rem;
   font-size: 25px;
   font-family: 'Julius Sans One', sans-serif;
}

.boton-artesanal:hover {
   background: rgb(146, 210, 226);
   padding: 10px;
   color: whitesmoke;
   border-color: whitesmoke;
   border-radius: 0.25rem;
   font-size: 25px;
   font-family: 'Julius Sans One', sans-serif;
}

/* seccion de cards */

.tarjetas {
   border: none;
   font-family: 'Julius Sans One', sans-serif;
}

.tarjetas h5 {
   font-family: 'Julius Sans One', sans-serif;
}

.tarjetas p {
   font-size: 20px;
}


/* seccion contacto */

.inscribite {
   background-image:none;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
@media only screen and (max-width: 990px) {
   .inscribite{
     background:none;
   }

   .inscribite h1{
      font-size: 30px;
    }
}

.formu {
   font-family: 'Julius Sans One', sans-serif;
}

.formu h1 {
   font-family: 'Julius Sans One', sans-serif;
}

.boton-suscribe {
   background: none;
   padding: 5px;
   color: rgb(10, 8, 8);
   border-color: rgb(10, 8, 8);
   border-radius: 0.25rem;
   font-size: 25px;
   font-family: 'Julius Sans One', sans-serif;
}

.boton-suscribe:hover {
   background: rgb(146, 210, 226);
   padding: 5px;
   color: whitesmoke;
   border-color: whitesmoke;
   border-radius: 0.25rem;
   font-size: 25px;
   font-family: 'Julius Sans One', sans-serif;
}

/* seccion pie de pagina  */

.footer {
   background-image: url(/cocomad/cocoimag/alfacococolorfoot.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 6rem 3rem 0rem 3rem;
   font-family: 'Julius Sans One', sans-serif;
   color: whitesmoke;
}

.footer a :hover {
   color: rgb(146, 210, 226);
   text-shadow: 4px 3px 2px rgba(58, 57, 57, 0.575), 4px 4px 5px rgba(112, 112, 112, 0.493);
}

.social-icon {
   font-size: 5rem;
   margin: 0 10px;
   color: rgb(255, 255, 255);
   transition-duration: 0.5s;
}

.links {
   list-style: none;
   font-size: 20px;
}

.links a {
   color: whitesmoke;
   text-decoration: none;
}

.links a:hover {
   color: rgb(146, 210, 226);
   font-size: 125%;
}

@media only screen and (max-width: 1050px) {
   .imagen-pie {
      width: 200px;
   }
}
.volverArriba {
   font-size: 2.5rem;
   color: whitesmoke;
   text-decoration: none;
   transition: 0.4s;
}

.volverArriba:link, .volverArriba:visited, .volverArriba:active {
   color: whitesmoke;
}

.volverArriba:hover {
   color: rgb(146, 210, 226);
}